@using Projeto.Models
@model IEnumerable<Dominio.Models.Usuario>

@{
    ViewBag.Title = "Index";
}

@{ Html.RenderPartial("_Filtro", new FiltroUsuarioViewModel()); }

<p>
    @Html.ActionLink("Novo", "Novo")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Login)
        </th>

        <th>
            Grupo
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Login)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.GrupoUsuario.Descricao)
            </td>
            <td>
                @Html.ActionLink("Editar", "Alterar", new { id = item.IdUsuario }) |
                @Html.ActionLink("Visualizar", "Visualizar", new { id = item.IdUsuario }) |
                @Html.ActionLink("Excluir", "Excluir", new { id = item.IdUsuario })
            </td>
        </tr>
    }

</table>
